*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: inherit;
  font-size: 62.5%; }

body {
  padding: 4rem 3rem;
  font-family: "Barlow";
  background-color: #e5e5e5;
  font-weight: 300;
  line-height: 1.6; }

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0rem 0 2rem 1.6rem rgba(44, 81, 187, 0.2); }
  @media only screen and (max-width: 62.5em) {
    .main {
      grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
      grid-template-columns: [sidebar-end full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 50em) {
    .main {
      grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content min-content repeat(3, min-content); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: inherit;
  font-size: 62.5%; }

body {
  padding: 4rem 3rem;
  font-family: "Barlow";
  background-color: #e5e5e5;
  font-weight: 300;
  line-height: 1.6; }

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0rem 0 2rem 1.6rem rgba(44, 81, 187, 0.2); }
  @media only screen and (max-width: 62.5em) {
    .main {
      grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
      grid-template-columns: [sidebar-end full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 50em) {
    .main {
      grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content min-content repeat(3, min-content); } }

.heading-1 {
  color: #2A4A5C;
  font-weight: 400; }

.text-content {
  color: #7B8A92; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: inherit;
  font-size: 62.5%; }

body {
  padding: 4rem 3rem;
  font-family: "Barlow";
  background-color: #e5e5e5;
  font-weight: 300;
  line-height: 1.6; }

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0rem 0 2rem 1.6rem rgba(44, 81, 187, 0.2); }
  @media only screen and (max-width: 62.5em) {
    .main {
      grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
      grid-template-columns: [sidebar-end full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 50em) {
    .main {
      grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content min-content repeat(3, min-content); } }

.registration__buttons__fb, .registration__buttons__ln {
  padding: 1rem;
  color: #EEEEEE;
  font-size: 1rem;
  height: 100%;
  width: 40%;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

.registration {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 2rem;
  align-content: center; }
  .registration__buttons {
    display: flex;
    justify-content: space-between; }
    .registration__buttons__fb {
      background-color: #255A9B; }
      .registration__buttons__fb img {
        height: 1.6rem; }
    .registration__buttons__ln {
      background-color: #0076B6; }
      .registration__buttons__ln img {
        height: 1.6rem; }
  .registration__or {
    padding: 0 10rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #7B8A92; }
    .registration__or::before, .registration__or::after {
      content: "";
      height: 1px;
      display: block;
      background-color: #7B8A92; }
  .registration__inputs {
    display: flex;
    justify-content: space-between; }
    .registration__inputs__input {
      background-color: #EFF6FF;
      font-size: 1rem;
      height: 100%;
      width: 40%;
      transition: all .3s;
      border: 1px solid #AFAFAF;
      text-align: left;
      padding-left: 10px; }
      .registration__inputs__input:focus {
        outline: none;
        border-left: 2px solid green; }
      z .registration__inputs__input:focus:invalid {
        border-left: 2px solid orangered; }
      .registration__inputs__input::-webkit-input-placeholder {
        color: #7B8A92; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: inherit;
  font-size: 62.5%; }

body {
  padding: 4rem 3rem;
  font-family: "Barlow";
  background-color: #e5e5e5;
  font-weight: 300;
  line-height: 1.6; }

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0rem 0 2rem 1.6rem rgba(44, 81, 187, 0.2); }
  @media only screen and (max-width: 62.5em) {
    .main {
      grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
      grid-template-columns: [sidebar-end full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 50em) {
    .main {
      grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content min-content repeat(3, min-content); } }

.select {
  display: flex;
  flex-direction: column;
  align-content: space-between; }
  .select__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .select__form__group {
      padding: 2rem 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative; }
      .select__form__group__radio-button {
        width: 1.5rem;
        height: 1.5rem;
        border: 3px solid #3698FB;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        opacity: 1;
        top: 2.02rem;
        left: -.12rem; }
      .select__form__group__input {
        border: 5px; }
      .select__form__group__label {
        padding-left: 1rem; }
      .select__form__group__radio-button:checked ~ .select__form__group__radio-label .select__form__group__radio-button:after {
        opacity: 1; }
  .select__checkbox {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .select__checkbox__text {
      padding-left: 1rem; }

.view-link {
  color: #0076B6; }

.modal {
  width: 50%;
  padding: .6rem 0;
  color: #7B8A92; }

.main__left {
  position: relative;
  width: 50vw;
  background-image: url("../img/bg.jpg");
  background-size: cover; }
  .main__left__logo {
    position: absolute;
    height: 15rem;
    width: 15rem;
    left: 4rem;
    top: -2rem; }

.main__right {
  background-color: #EFF6FF;
  padding: 11.5rem 7rem;
  display: grid;
  grid-template-rows: min-content 1fr min-content 1fr;
  grid-row-gap: 6rem; }
  .main__right__create-button {
    border: none;
    border-radius: 4px;
    background-color: #0076B6;
    height: 30%;
    width: 50%;
    color: white;
    font-weight: 200; }
