// COLOR VARIABLES
$color-bg: #EFF6FF;
$color-text-primary: #2A4A5C;
$color-text-secondary: #7B8A92;

$color-button-fb: #255A9B;
$color-button-ln: #0076B6;

$color-another-1: #3698FB;
$color-another-3: #96A5B1;
$color-grey-light: #AFAFAF;
$color-another-5: #EEEEEE;
$color-another-6: #FFFFFF;


// FONT VARIABLES
$font-primary: 'Barlow', sans-serif;
$font-display: 'Josefin Sans', sans-serif;


// RESPONSIVE BREAKPOINTS

$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
    font-size: 62.5%; // 1rem = 10px

    //@media only screen and (max-width: $bp-large) {
    //    font-size: 50%;
    //}
}

body {
    padding: 4rem 3rem;
    font-family: $font-primary;
    background-color: #e5e5e5;

    font-weight: 300;
    line-height: 1.6;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0rem 0 2rem 1.6rem rgba(44, 81, 187, .2);

    @media only screen and (max-width: $bp-large) {
        grid-template-rows:repeat(2, 1fr);
        grid-template-columns: 1fr;
    }

    @media only screen and (max-width: $bp-medium) {
        grid-template-columns: [sidebar-end full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
    }

}