@import "base";

%button {
    padding: 1rem;
    color: #EEEEEE;
    font-size: 1rem;
    height: 100%;
    width: 40%;
    border: none;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
};

.registration {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 2rem;
    align-content: center;

    &__buttons {
        display: flex;
        justify-content: space-between;


        &__fb {
            @extend %button;
            background-color: $color-button-fb;

            img {
                height: 1.6rem;
            }
        }

        &__ln {
            @extend %button;
            background-color: $color-button-ln;


            img {
                height: 1.6rem;
            }
        }

    }

    &__or {
        padding: 0 10rem;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-column-gap: 1rem;
        align-items: center;
        margin-bottom: 1rem;
        font-size: 1rem;
        color: $color-text-content;

        &::before,
        &::after {
            content: "";
            height: 1px;
            display: block;
            background-color: $color-text-content;
        }

    }

    &__inputs {
        display: flex;
        justify-content: space-between;

        &__input {
            //background-color: $color-bg;
            background-color: $color-bg;
            font-size: 1rem;
            height: 100%;
            width: 40%;
            transition: all .3s;
            border: 1px solid $color-grey-light;
            text-align: left;
            padding-left: 10px;

            &:focus {
                outline: none;
                border-left:2px solid green;
            }z

            &:focus:invalid {
                border-left: 2px solid orangered;
            }

            &::-webkit-input-placeholder {
                color: $color-text-content;
            }
        }

    }
}