@import "base";

.select {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    //background-color: #0076B6;

    &__form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__group {
            padding: 2rem 0;
            display: flex;
            flex-direction: row;
            //align-self: start;
            align-items: center;
            //justify-content: space-around;
            position: relative;

            &__radio-button {
                width: 1.5rem;
                height: 1.5rem;
                border: 3px solid $color-another-1;
                border-radius: 50%;
                display: inline-block;
                // border-radius: 5%;
                position: absolute;
                opacity: 1;
                top: 2.02rem;
                left: -.12rem;
            }

            &__input {
                border: 5px;
            }

            &__label {
                padding-left: 1rem;
            }

            &__radio-button:checked ~ &__radio-label &__radio-button:after {
                opacity: 1;
            }
        }
    }

    &__checkbox {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;

        &__text {
            padding-left: 1rem;
        }

    }
}

.view-link {
    color: #0076B6;
}
.modal {
    width: 50%;
    padding: .6rem 0 ;
    //border: solid 2px #96A5B1;
    color: #7B8A92 ;
}
